<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMADEUS_API_KEY</key>
	<string>JHdG17HctAEobVTxHuqPwb8PTS0gMQex</string>
	<key>AMADEUS_API_SECRET</key>
	<string>dAsuLUksR7kfWtVJ</string>
	<key>AMADEUS_BASE_URL</key>
	<string>https://test.api.amadeus.com</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
</dict>
</plist>
